@import "tailwindcss";

@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';
@import "tailwindcss-animated";
@import "tailwindcss-intersect";

@theme {
  /* Her tilføjes theme variable // tokens */

  /*Farver */
  /* ___________________________________________primary____ */
  --color-primary: #ff5900;
  --color-primary-muted: #ffc39b;
  --color-primary-see-thru: rgba(255, 89, 0, 0.5);
  --color-primary-see-thru2: #FFC39B;
  /* ___________________________________________secondary____ */
  --color-secondary: #0491dd;
  --color-secondary-muted: #c6dfe7;
  /* ___________________________________________background_text_osv____ */
  --color-background: #f6f3ea;
  --color-black: #191919;
  --color-white: #fbfbff;

  /* ✍️ Typography */
  --font-display: "azo-sans-web", sans-serif;
  --font-uber: "azo-sans-uber", sans-serif;
  --font-sans: "roboto", sans-serif;
  --font-condensed: "roboto-condensed", sans-serif;

  /* 🌐 Override Tailwind's default breakpoints (custom 5-tier system) */

  /* ≈ 480px — small phones */
  --breakpoint-sm: 30em;

  /* ≈ 768px — tablets, small laptops */
  --breakpoint-md: 48em;

  /* ≈ 1024px — laptops, small desktops */
  --breakpoint-lg: 64em;

  /* ≈ 1280px — Full HD screens */
  --breakpoint-xl: 80em;

  /* ≈ 1536px — large / 1440p+ / 4K */
  --breakpoint-2xl: 96em;
}

@layer base {
}

@layer components {
}

@layer utilities {
}
