---
import Heading from "./Heading.astro";
import Text from "./Text.astro";
import Button from "./Button.astro";
---

<section class="grid grid-cols-2 gap-50">
  <img src="/src/assets/images/about.png" alt="" class="ml-auto h-full" />

  <div class="w-150 aboutInView">
    <Heading htmlheading="h3">DIT LIVS EVENTYR</Heading>
    <Text type="body_2"
      >HÖJSKOLENDK er en dansk højskole for unge i alderen ca. 18-30 år.
      <br /><br />
      Vi brænder for oplevelser, fællesskab og mødet med nye mennesker og kulturer;
      derfor laver vi eventyrlige højskoleophold i udlandet.
    </Text>

    <div class="bg-primary-muted rounded-2xl p-7 aboutInView">
      <Text type="body_2"
        >HÖJSKOLENDK er noget for dig, hvis du vil på højskole i udlandet og er
        vild med højskolefællesskab, vil med på et fantastisk rejseeventyr,
        glæder dig til at lære om fremmede kulturer, vil rejse med rygsæk,
        drømmer om en fed grupperejse med andre skønne unge, vil opleve et
        stærkt sammenhold og ønsker inspirerende og meningsfuld undervisning. Du
        er sikker på en tryg rejseoplevelse da vi er medlem af
        Rejsegarantifonden.</Text
      >
    </div>
    <Button variant="primary" size="medium">DIT LIVS EVETYR</Button>
  </div>
</section>

<script>
	/* Import af Motion One bibliotek */
	import { animate, stagger, inView, scroll } from "motion";
	
  inView( ".aboutInView" , () =>{
	animate( ".aboutInView", { opacity: [0, 100 ] }, { duration: 2 })
	})

  inView( ".aboutInView" , () =>{
	animate( ".aboutInView", { x: [1000, 0 ] }, { duration: 1 })
	})
  
  </script>