---
import CardBLOG from "./Card_BLOG.astro"
import Button from "./Button.astro" 
---

<section class="grid">


        <img src="/src/assets/images/5th_element_orange.svg" alt="" class="z-1 object-fill absolute">


    <div class="flex flex-row justify-between mr-20 ml-20 gap-6 mt-10 z-2">

        <CardBLOG />
        <CardBLOG />
        <CardBLOG />

    </div>

        <div class="mr-auto ml-auto mt-10 mb-10 z-2">
            <Button variant="secondary" size="large">LÆS VORES BLOG</Button>
        </div>



</section>