---
import Heading from "../components/Heading.astro";
import Text from "../components/Text.astro";
import Button from "../components/Button.astro";
---

<section class="flex flex-col bg-secondary rounded-lg h-auto w-100">
  <img
    src="/src/assets/images/blog1.jpg"
    alt=""
    class="rounded-t-lg h-auto w-auto"
  />

  <div>
    <Text type="body_2">DIT SABBATÅR - MAKE MOST OF IT </Text>
    <Text type="body_1"
      >Hvis du skal ha’ dig et (eller flere) sabbatår, drømmer du sikkert om at
      det bliver verdens fedeste år. For lige nøjagtigt dig – og det forstår vi
      godt. Men…</Text
    >
  </div>
</section>

<!-- <style>

    .card_BLOG {
        display: flex;
        flex-direction: row;
        background-color: ;
    }
</style> -->
