---
import Heading from "../components/Heading.astro";
import Text from "../components/Text.astro";
import Button from "../components/Button.astro";
---

<section class="flex flex-row bg-secondary rounded-t-lg">


</section>

<!-- <style>

    .card_BLOG {
        display: flex;
        flex-direction: row;
        background-color: ;
    }
</style> -->