---
import Heading from "./Heading.astro";
import Text from "./Text.astro";
import Button from "./Button.astro";
---

<section class="gridi">
              <Heading htmlheading="h4">Føler du dig klar på et livs eventyr?</Heading>
              <Text type="caption">Hvis du er afklaret og klar på højskoleeventyr, er det bare med at tilmelde dig.
                <br>
                Der bliver nemlig udsolgt på langt de fleste af vores ophold.</Text>

                <Button variant="primary">KIG PÅ OPHOLENE</Button>

</section>