---
import Heading from "./Heading.astro";
import Text from "./Text.astro";
---

<section class="mb-20 gap-3 h-60">

<div class="flex flex-start self-stretch gap-5">
    <img src="/src/assets/images/teambuilding.png" alt="" class="w-auto h-full">

    
    <Text>Efter nogle spændende og oplevelsesrige introdage starter vi med faget  Teambuilding – for nu handler det om at ryste jer endnu bedre sammen og  skabe fundamentet for vores stærke højskolefællesskab. På vores rejse  sammen er trivsel, samhørighed og teamspirit altafgørende, når vi er  langt hjemmefra. Gennem sjove, tankevækkende og inspirerende samarbejds- og dialogøvelser bygger vi et fællesskab, hvor alle føler sig set, hørt og hjemme. Glæd jer til at grine, heppe og juble, mens I kaster jer over særligt  udvalgte teamøvelser. Samtidig får I indsigt i vigtige emner som fx  relationer, tillid, værdier, kommunikation, konfliktløsning og meget  mere. Det hele handler om at forstå hinanden – og jer selv – bedre og  lære at samarbejde på en måde, der skaber tryghed og fællesskab.

Læs mere om Teambuilding her...</Text>
</div>


</section>