---
import Button from "./Button.astro";
---

<section class="flex flex-col mt-50">
  <img
    src="/src/assets/images/pol.png"
    alt=""
    class="h-70 w-225 mr-auto ml-auto mb-10"
  />
  <div class="ml-auto mr-auto">
    <Button variant="primary" size="medium">SE BILLEDER</Button>
  </div>
</section>
