---
import Heading from "./Heading.astro";
---

<section class="grid grid-cols-2 mb-3 5">
  <img src="/src/assets/images/Vector7.png" alt="" class="ml-auto z-2" />
  <div class="mt-auto mb-auto z-2">
    <Heading htmlheading="h5">Eventyret Starter Her</Heading>
    <Heading htmlheading="h3">HÖJSKOLEN DK</Heading>
  </div>
  <img
    src="/src/assets/images/hero_element.png"
    alt=""
    class="z-1 absolute object-fill opacity-15"
  />
</section>

<img
  src="/src/assets/images/plane.svg"
  alt=""
  class="grid ml-auto m-auto animate-fade-down mb-25"
/>
