---
import Heading from "./Heading.astro";
import Text from "./Text.astro";
---

<section class="flex flex-row justify-between gap-3">

<div>
    <Text>Hvad er inkluderet i rejsen?</Text>
</div>

    <!-- Dude... jeg aner ikke hvordan jeg får den til at fylde det hele T T -->
        <hr class="border-black rotate-90 border-3 w-auto h-fill" /> 

<div>
    <Text>Hvad er inkluderet i rejsen?</Text>
</div>

</section>