---
import Heading from "./Heading.astro";
import Text from "./Text.astro";
---

<section class="mb-20 flex flex-row justify-between gap-3 h-60">

<div>
    <Text>Hvad er inkluderet i rejsen?</Text>
</div>

    <!-- Dude... jeg aner ikke hvordan jeg får den til at fylde det hele T T -->
        <hr class="border-black rotate-180 border-1 w-auto h-full" /> 

<div>
    <Text>Hvad er inkluderet i rejsen?</Text>
</div>

</section>