---
import Heading from "./Heading.astro";
import Text from "./Text.astro";
---

<section class="mb-20">

           <Heading htmlheading="h3"> HØJSKOLE I MALDIVERNE, SRI LANKA, BALI, GILI ISLANDS, JAPAN & AUSTRALIEN </Heading>

<div class="flex flex-row gap-3">

    <div>
                <Text type="caption">Tag på højskole i udlandet og oplev Maldiverne, Sri Lanka, Bali, Gili  Islands, Japan & Australien på et unikt rejseeventyr, hvor du, med  andre danske unge, får en oplevelse for livet. Rejsen strækker sig over 3 måneder og bringer jer til nogle af verdens mest eksotiske og spændende destinationer – fra smukke tropeøer, frodige regnskove, vilde vulkaner  og stejle bjerge, til den fascinerende japanske kultur og de perfekte  surf-bølger i Australien. 
                    <br><br>
                    Glæd dig til det vildeste eventyr og et fantastisk fællesskab!
                    <br><br>
                    <Text type="caption">
Eventyret begynder allerede ved indflyvning over Maldiverne, hvor I fra flyet ser de palmeklædte øer med kridhvide strande, ligge  som små perler i det krystalklare vand. Glæd jer til at udforske øen med højskolevennerne, mens I snorkler blandt farvestrålende koralrev, ser  havskildpadder og måske endda spotter hvalhajer og djævlerokker. Dagene  går med bare tæer i sandet, beachvolley på stranden, spændende  kulturmøder, afslapning i hængekøjer og uforglemmelige aftener under  stjernerne.
<br><br>
På Sri Lanka rejser vi med tog og bus gennem det  smukke landskab, fyldt med grønne bjerge, brusende vandfald, frodig  tågeskov og store nationalparker med bl.a. vilde elefanter og leoparder. Undervejs på vores rundrejse kommer vi tæt på den spændende kultur, når vi møder lokale venner, der giver os indblik i deres kultur og sørger  for vi på autentisk vis oplever landet med alt der hører sig til.  Te-plantager, river rafting på floder i regnskoven, ikoniske landemærker som Sigiriya rock og Udawalawe Nationalpark, lokal cooking-class, hikes til flotte udsigtspunkter, surfcamp og yoga er blot nogle af de ting I  kan se frem til på rundrejsen i Sri Lanka.</Text>
    </div>  
    <!-- Dude... jeg aner ikke hvordan jeg får den til at fylde det hele T T -->
        <hr class="border-black rotate-180 border-1 w-auto h-auto" /> 

            <div>
<Text type="caption">På Bali venter et eksotisk dyreliv, regnskove, vulkaner, surfer-venlige bølger  og masser af fede hang-out-spots til dig og dine skønne højskolevenner.  
    <br><br><br><br>
    Efter vores tid på Bali, sejler vi videre til Gili Islands med hvide sandstrande og turkisblåt hav. Her nyder vi barfodslivet,  snorkelture, dykning (for dem der vil) og magiske solnedgange, mens vi  slapper den med friskplukkede kokosnødder.

Kontrasten til tropeøerne kunne ikke være meget større, når vi lander i Japan; en verden af teknologi, ældgamle traditioner og fantastiske  kulturoplevelser. 
    <br><br>
Vi oplever Tokyos pulserende byliv og spiser os gennem det lokale køkken og mætte af oplevelser og lækker mad, tager vi videre på opdagelse i de historiske templer og helligdomme i Kyoto. Herfra går turen til Hiroshima, hvor vi bl.a. bliver klogere på 2. verdenskrig, i  den smukke Peace Memorial Park. Glæd jer til en helt anden verden af  skikke, livsstile og traditioner, der er svær at sammenligne med andre  steder i verden. Japan er bare smukt, skævt, skørt og helt igennem unik.
    <br><br>
I Australien, kan I glæde jer til ikoniske  surferstrande og en afslappet, kreativ og laid-back stemning i byen. Her hilser man på hinanden på gaden, caféerne oser af hygge med små events  og live musik og de lokale tager dagene i et roligt tempo. Det er så  skønt. Byen er et mekka for backpackers, hvor rejsende fra nær og fjern, kommer for at nyde godt af stemningen, festerne, surfing og den  autentiske “aussie vibe”. Som afslutning på opholdet kører vi til  Sydney, hvor vi har et par hyggelige outrodage i fællesskabets tegn og  får set den berømte storby, oplevet de ikoniske seværdigheder og runder  vores højskole-eventyr af.</Text>
            </div>


</div>
</section>