---
import Heading from "./Heading.astro";
import Text from "./Text.astro";
---

<section class="mb-20">
          <Heading htmlheading="h3"> INTRODAGE: Dubai/Doha/Singapore/Bangkok </Heading>

<div class="flex flex-row gap-3">

<div>
    <img src="/src/assets/images/map_single.png" alt="" class="w-700"/>
</div>

    <!-- Dude... jeg aner ikke hvordan jeg får den til at fylde det hele T T -->
        <hr class="border-black rotate-180 border-1 w-auto h-auto" /> 

        <div>
            <Text type="caption">

                Glæd jer til nogle fantastiske, spændende og oplevelsesrige introdage! Med  fokus på at skyde vores højskolefælleskab rigtigt godt i gang og få  oplevet en masse, starter vi med at ryste jer sammen på vores helt eget  HÖJSKOLENDK Adventurerace. Vi udforsker også nogle af storbyens ikoniske must-see’s, spiser fællesmiddage og går på opdagelse – og der bliver  også tid til shopping, hygge og bare hænge ud med de nye højskolevenner.
                <br><br>
                Vores introdage er typisk i storbyer  som fx Dubai, Bangkok, Sydney, Singapore eller Doha. Og uanset hvilken  by vi lander i, kan I glæde jer til nogle uforglemmelige dage fyldt med  eventyr, fællesskab og fede oplevelser.

            </Text>
        </div>

</div>
</section>