---
import Text from "./Text.astro"

Text
---

    
    <div>
    <Text htmltag="p" stylingclasses="text-lg font-medium">INTRODAGE: Dubai/Doha/Bangkok/Singapore</Text>
    <Text htmltag="p" stylingclasses="text-lg font-medium">MALDIVERNE: Dhiffushi</Text>
    <Text htmltag="p" stylingclasses="text-lg font-medium">SRI LANKA: Dambulla, Kandy, Ella & Weligama</Text>
    <Text htmltag="p" stylingclasses="text-lg font-medium">INDONESIEN: Bali & Gili Islands</Text>
    <Text htmltag="p" stylingclasses="text-lg font-medium">JAPAN: Tokyo, Kyoto, Hiroshima, Osaka & Nara</Text>
    <Text htmltag="p" stylingclasses="text-lg font-medium">AUSTRALIEN: Byron Bay</Text>
    </div>