---
import Card2LUN from "./Card2_LUN.astro"
import Card3LUN from "./Card3_LUN.astro"
import Button from "./Button.astro" 
---

<section class="grid">

    <div class="flex flex-row justify-between mr-20 ml-20 gap-6 mt-10 z-2">
        <Card2LUN />
        <Card2LUN />
        <Card2LUN />
    </div>

        <img src="/src/assets/images/5th_element_blue.svg" alt="" class="z-1 object absolute">
</section>