---
import Text from "../components/Text.astro";
import Button from "../components/Button.astro";

// Tanken bag at tilføje dem her er fordi jeg har set at navigation menuen virker gennem Javascript hvor man giver hidden og visible classe baseret på hvilken knap man trykker på. Også hvordan knappen ser ud efter man har trykket
import Overblik from "./overblik.astro";
import Program from "./program.astro";
import Inkluderet from "./inkluderet.astro";
import Fag from "./fag.astro";
import Kontakt from "./kontakt.astro";

---

<section class="single_nav">
    <Button variant="sub_nav" size="large">OVERBLIK</Button>
    <Button variant="sub_nav" size="large">PROGRAM</Button>
    <Button variant="sub_nav" size="large">INKLUDERET</Button>
    <Button variant="sub_nav" size="large">FAG</Button>
    <Button variant="sub_nav" size="large">KONTAKT</Button>
</section>

<style>
    .single_nav{
        display: flex;
        flex-direction: column;
        /* Putter den i column lige PT fordi jeg ikke ved hvordan jeg giver den en fixed width...? */
        /* flex-direction: row; */
        width: auto;
        height: auto;
    }


</style>