---
import Heading from "./Heading.astro"
import Text from "./Text.astro"
import Button from "./Button.astro"
import RejseInfo from "./rejse_info.astro"
import RejseStatus from "./rejse_status.astro"
---






<section class="grid grid-rows-2 grid-cols-2">

    <div class="mr-auto ml-auto">
        <img src="/src/assets/images/singlePic.svg" alt="">
    </div>

        <div class="flex flex-col justify-between">
            <Heading htmlheading="h4">HØJSKOLE I MALDIVERNE, SRI LANKA, BALI, GILI ISLANDS, JAPAN & AUSTRALIEN</Heading>
            <div class="">
            <Button variant="primary" size="large">RESERVER PLADS</Button>
            <Button variant="secondary" size="large">TILMELD DIG OPHOLDET</Button>
            </div>
        </div>
        <div class="mr-auto ml-auto">
        <RejseInfo />
        </div>
        <div>
        <RejseStatus />
        </div>



</section>
