---
const {
  type = "body_1",
  font = "sans",
  weight = "regular",
  stylingclasses = "",
} = Astro.props;

// Mapping af teksttyper til Tailwind-klasser
const typeClasses = {
  body_1: "text-sm md:text-base lg:text-lg 2xl:text-xl",
  body_2: "text-base md:text-lg lg:text-xl 2xl:text-2xl",
  caption: "text-xs md:text-sm lg:text-base 2xl:text-lg",
};

// Fonts
const fontClasses = {
  sans: "font-sans",
  condensed: "font-condensed",
  uber: "font-uber",
  display: "font-display",
};

// Weight
const weightClasses = {
  light: "font-light",
  regular: "font-normal",
  medium: "font-medium",
  bold: "font-bold",
};
---

<p
  class:list={[
    typeClasses[type],
    fontClasses[font],
    weightClasses[weight],
    stylingclasses,
  ]}
>
  <slot />
</p>
