---
import Text from "./Text.astro";
import Heading from "./Heading.astro";
---

<!-- ML-100 er en midlertiglid løsning fordi jeg kan ikke bruge ml-auto mr-auto ?? -->
<section class="flex flex-row gap-50 mt-10 ml-87">
  <div
    class="flex flex-col items-center-safe bg-secondary-muted w-100 p-10 rounded-2xl"
  >
    <div class="flex flex-row gap-2">
      <img src="/src/assets/images/bluestar.svg" alt="" />
      <img src="/src/assets/images/bluestar.svg" alt="" />
      <img src="/src/assets/images/bluestar.svg" alt="" />
      <img src="/src/assets/images/bluestar.svg" alt="" />
      <img src="/src/assets/images/bluestar.svg" alt="" />
    </div>

    <Heading htmlheading="h7"
      >"“Lorem ipsum dolor sit amet, consectetur adipiscing elit.”"</Heading
    >
    <Text type="body_3">Fornavn Mellemnavn Efternavn</Text>
  </div>

  <div class="flex flex-col gap-1 mt-auto mb-auto">
    <div>
      <Heading htmlheading="h5">TRUSTPILOT</Heading>

      <div class="flex flex-row gap-5">
        <div class="flex self-center-safe p-1 w-15 h-15 rounded-xl bg-primary">
          <img src="/src/assets/images/star.svg" alt="" />
        </div>

        <div class="flex self-center-safe p-1 w-15 h-15 rounded-xl bg-primary">
          <img src="/src/assets/images/star.svg" alt="" />
        </div>

        <div class="flex self-center-safe p-1 w-15 h-15 rounded-xl bg-primary">
          <img src="/src/assets/images/star.svg" alt="" />
        </div>

        <div class="flex self-center-safe p-1 w-15 h-15 rounded-xl bg-primary">
          <img src="/src/assets/images/star.svg" alt="" />
        </div>

        <div class="flex self-center-safe p-1 w-15 h-15 rounded-xl bg-primary">
          <img src="/src/assets/images/star.svg" alt="" />
        </div>
      </div>
      <div class="flex flex-row justify-between gap-2 items-center-safe">
        <Text>Trust score 4.6</Text>
        <hr class="border-black rotate-180 border-2 w-auto h-3" />
        <Text>140 reviews</Text>
      </div>
    </div>
  </div>
</section>
